body{
  background-color: #E0ECE4;
}
hr {
  border-style: dotted none none;
  border-color: #6D8B74;
  border-width: 5px;
  width: 30%;
}
h1 {
  color: #125B50
}
h2 {
  color: #219F94
}
h3 {
  color: #417D7A
}
